@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');


body {
    background-color: lightblue;
    padding-top: 50px;
}

container {
    display: flex;
    justify-content: center;
    align-items: center;
}




/* Admin Header  */
#Admin-Header h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

#Admin-Header .buttons {
    display: flex;
    justify-content: end;
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}

#Admin-Header .buttons button{
    margin-left: 10px;
}



/* TABLE  */

table .table{
    overflow-x: auto;
    
}

table .text-head{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-align: center;
}

/* Modal Buttons*/
.button-transaction {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-transaction .buttons{
    color: black;
}

