body {
    background-color: lightblue;
    padding-top: 50px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');


/* Admin Header  */
#Admin-Header .buttons {
    padding-bottom: 20px;
}




/* TABLE  */

table {
    overflow-x: auto;
}

table .text-head{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-align: center;
}